.product-detail {
  display: flex;
  gap: 50px;
  padding: 50px 100px;
  background: #f6f6f6;
}

.product-detail img {
  width: 400px;
  border-radius: 20px;
}

.product-detail h1 {
  margin-bottom: 10px;
}

.price {
  color: #f59e0b;
  font-size: 20px;
  margin-bottom: 10px;
}

.product-detail button {
  margin-top: 20px;
  padding: 10px 25px;
  border-radius: 20px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
}